@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my Blazor Book Store App</h1>

<p>This is just a small demo app I made for a Book Store to primarily learn Blazor. You must register and login first to be able to browse the list of availble authors and books. To learn more about how I went about creating this app please <a href="https://richardcoffey.com/portfolio/book-store-website" target="_blank">go here</a>.</p>
<center><img src="\images\bookstore.jpg" width="600" height="350"/></center>